{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <title>Mysite - Eventos</title>
      {% include 'parciais/_head.html' %}
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand"><img src="{% static 'polls/images/final20.png' %}" alt="" href="/">da AABB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/videos">Vídeos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Eventos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/galeria">Galeria<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contato">Contato<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<br><br>
  <body style="background-color: #f9f9f9;">
      <div class="container shadow-lg p-3 mb-5 bg-white rounded">
          <center>
              <p><h4>Eventos Agendados:</h4>
          </center>
              <div class="row">
                      <div class="col-12 col-md-12">
                            <div class="card mt-1 shadow-lg p-3 mb-5 bg-white rounded">
                              <table class="table table-striped">
                                  <thead>
                                    <tr>
                                    {% if eventos %}
                                    <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col">Título</th>
                                              <th scope="col">Nome</th>
                                              <th scope="col">Reservado para:</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for Evento in eventos  %}
                                                <tr>
                                                    <td scope="row">{{ Evento.titulo }}</td>
                                                    <td scope="row">{{ Evento.autor }}</td>
                                                    <td scope="row"><i class="fa fa-calendar" aria-hidden="true"></i>
                                                         {{ Evento.data_publicacao }}</td>
                                                </tr>
                                            {% endfor %}
                                          </tbody>
                                    </table>
                                    {% else %}
                                        <center><h5>Ainda não existem eventos cadastrados. :(</h5></center>
                                    {% endif %}
                                  </thead>
                              </table>
                            </div>
                      </div>
              </div>
      </div>
      <br><br><br><br><br><br><br><br>
      <footer>
          {% include 'parciais/_footer.html' %}
      </footer>
        <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
  </body>
</html>