{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <title>Mysite - Galeria</title>
      {% include 'parciais/_head.html' %}
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand"><img src="{% static 'polls/images/final20.png' %}" alt="" href="/">da AABB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/videos">Vídeos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/eventos">Eventos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Galeria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contato">Contato</a>
      </li>
    </ul>
  </div>
</nav>
<br><br>
<body style="background-color: #f9f9f9;">
      <div class="container shadow-lg p-3 mb-5 bg-white rounded">
          <center>
              <p><h4>Galeria:</h4>
          </center>
              <div class="row">
                <div class="col-3"></div>
                  <div class="col-12 col-md-6">
                        <div class="card mt-1 shadow-lg p-3 mb-5 bg-white rounded">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                {% if imagens %}
                                <table class="table">
                                      <thead>
                                        <tr>

                                          <th scope="col">Título</th>
                                          <th scope="col">Autor</th>

                                          <th scope="col">Data</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for foto in imagens %}
                                            <tr>

                                                <td scope="row"><a href="#modal{{foto.id}}" data-toggle="modal">
                                                    {{ foto.titulo }}</a></td>
                                                <td scope="row">{{ foto.autor }}</td>

                                                <td scope="row"><i class="fa fa-calendar" aria-hidden="true"></i>
                                                    {{ foto.data_criacao }}</td>
                                            </tr>
                                                               <!-- Button trigger modal -->

                                            <!-- Modal -->
                                            <div class="modal fade" id="modal{{foto.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">{{ foto.titulo }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                       <img src="{{ foto.imagem.url }}" class="img-fluid" alt="{{foto.titulo}}"/>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        {% endfor %}
                                      </tbody>
                                </table>
                                {% else %}
                                    <center>
                                    <h5>Ainda não existem imagens cadastradas na galeria. :(</h5>
                                        </center>
                                {% endif %}
                              </thead>
                          </table>
                        </div>
                  </div>
              </div>
      </div>
    <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
          <div class="row bg-dark">
              <div class="container text-center text-white">
                  <p class="mt-4">&copy; Developer By José Weseles Alves</p>
              </div>
          </div>
      </footer>
        <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
</body>
</html>